@page "/"
@using LangtonsAnt
@using System.Text.RegularExpressions
@using UI
@rendermode InteractiveServer
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime

<PageTitle>Ants</PageTitle>

<h1>Ants</h1>


<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="2">

    <FluentButton Appearance="Appearance.Accent" @onclick="btnPlay_Click" IconStart="@(new Icons.Filled.Size20.Play())" Disabled="true" hidden="@(!btnPlayVisibility)">Play</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnPause_Click" IconStart="@(new Icons.Filled.Size20.Pause())" Disabled="true" hidden="@(!btnPauseVisibility)">Pause</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnStop_Click" IconStart="@(new Icons.Filled.Size20.Stop())" Disabled="true">Stop</FluentButton>
    <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Presentation" Style=" width: 0.5%;"></FluentDivider>

    <FluentButton Appearance="Appearance.Accent" @onclick="btnPrev_Click" IconStart="@(new Icons.Filled.Size20.ArrowLeft())">Prev.</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnNext_Click" IconStart="@(new Icons.Filled.Size20.ArrowRight())">Next</FluentButton>
    <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Presentation" Style=" width: 0.5%;"></FluentDivider>

    <FluentButton Appearance="Appearance.Accent" @onclick="btnEditAnt_Click" IconStart="@(new Icons.Filled.Size20.Bug())">Ant</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnEditCellColor_Click" IconStart="@(new Icons.Filled.Size20.Color())">Cell Color</FluentButton>
    <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Presentation" Style=" width: 0.5%;"></FluentDivider>

    <FluentLabel Typo="Typography.H5">Rules:</FluentLabel>
    <FluentTextField Value="@currentRule"></FluentTextField>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnEditRuleStart_Click" IconStart="@(new Icons.Filled.Size20.Edit())">Edit</FluentButton>
    <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Presentation" Style=" width: 0.5%;"></FluentDivider>

    <FluentButton Appearance="Appearance.Accent" @onclick="btnSave_Click" IconStart="@(new Icons.Filled.Size20.Save())">Save</FluentButton>
    <FluentButton Appearance="Appearance.Accent" @onclick="btnLoad_Click" IconStart="@(new Icons.Filled.Size20.Folder())">Load</FluentButton>
    <FluentDivider Orientation="Orientation.Vertical" Role="DividerRole.Presentation" Style=" width: 0.5%;"></FluentDivider>

    <FluentTextField Value="@generationN" ReadOnly="true"></FluentTextField>
</FluentStack>

<p></p>

<div class="loading-container" style="position: relative;">
    @if (isLoading)
    {
        <div class="loading-overlay">
            <FluentStack Orientation="Orientation.Vertical">
				<FluentProgressRing></FluentProgressRing>
				<FluentLabel Typo="Typography.H5">LOADING</FluentLabel>
            </FluentStack>
        </div>
    }
    <canvas id="anthill" width="1000" height="1000" @ref="canvasElement"></canvas>
</div>


<script src="LangatonsAnt.js"></script>

<style>
    .loading-container {
        position: relative;
    }

    .loading-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .loading-overlay fluent-progress-ring {
        width: 100px;
        height: 100px;
    }
</style>